/*
 * Main stylesheet for the site.
 */
.flex {
	display: flex;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.void {
	display: none;
}


.horizontal-left {
	text-align: left;
}

.horizontal-center {
	text-align: center;
}

.horizontal-right {
	text-align: right;
}


.vertical-top {
	vertical-align: top;
}

.vertical-center {
	vertical-align: middle;
}

.vertical-bottom {
	vertical-align: bottom;
}


body {
	background: AliceBlue;
	font-family: sans-serif;
}


label, output, input, textarea {
	display: inline-block;
}


header > nav > button {
	font-size: 150%;
}

main {
	margin: 1em 0em 2em 0em;
}


main > article.left {
	display: none;
	width: 3em;
}


main > article.center {
	width: 40em;
}


main > article.right {
	display: none;
	width: 3em;
}


/*
 * tab menu section rules
 */
header > nav > button.active {
	color: green;
}


/*
 * Preferences rules.
 */
section.preferences label.default {
	width: 5em;
	text-align: right;
}


section.preferences label.city {
	width: 2em;
	text-align: center;
}


section.preferences > fieldset {
	width: 18em;
}


section.preferences img.avatar {
	width: 6.8em;
}

section.preferences > fieldset > div.phones input {
	margin-left: 6.3em;
}


section.preferences > fieldset input.postcode {
	width: 3em;
}


section.preferences > fieldset input.city {
	width: 7.35em;
}


section.preferences > fieldset input.default {
	width: 14em;
}


/*
 * recipe section rules
 */
section.recipe > div.recipe img.avatar {
	width: 6.8em;
}


section.recipe > div.recipe div.left {
	width: 20em;
}


section.recipe > div.recipe div.right {
	width: 14em;
}


section.recipe > div.recipe label.default {
	width: 6.5em;
}


section.recipe > div.recipe input.default {
	width: 14em;
}


section.recipe > div.recipe-ingredients {
	margin-top: 2em;
}


section.recipe > div.recipe-ingredients img.avatar {
	width: 3em;
}

section.recipe > div.recipe-ingredients input[type='number'] {
	width: 4em;
}

section.recipe > div.recipe-ingredients table {
	background: ghostwhite;
}


section.recipe > div.recipe-ingredients table, div.recipe-ingredients tr {
	border: 1px solid black;
	border-collapse: collapse;
}


section.recipe > div.recipe-illustrations {
	margin-top: 2em;
}


section.recipe > div.recipe-illustrations iframe, div.recipe-illustrations video {
	height: 320px;
	width: 480px;
}