/*
 * Main stylesheet for the Recipe site.
*/
body {
	background: AliceBlue;
	font-family: sans-serif;
}


main {
	display: flex;
}


main > article.left {
	display: none;
	width: 3em;
}


main > article.center {
	width: 25em;
}


main > article.right {
	display: none;
	width: 3em;
}


label {
	display: inline-block;
}


input {
	display: inline-block;
}


img.avatar {
	width: 6.8em;
	vertical-align: middle;
}

/*
* Recipe
*/

section.recipe > fieldset {
	width: 50em;
}

section.recipe label.title {
	width: 2em;
	margin-bottom: 1em;
	margin-left: 1em;
	
}
section.recipe input.title {
	width: 24em;
	margin-bottom: 1em;
	margin-left: 5.1em;
}

section.recipe label.avatar {
	width: 2em;
	margin-bottom: 1em;
	margin-left: 1em;
	vertical-align: top;
}

img.avatar{
	width: 12em;
	margin-left: 4.5em;
	margin-bottom: 1em;
  }

section.recipe label.category {
	width: 2em;
	margin-bottom: 1em;
	margin-left: 1em;

}
section.recipe select.category {
	width: 24em;
	margin-bottom: 1em;
	margin-left: 5.1em;
}

section.recipe label.category_label_space {
	margin-bottom: 1em;
	margin-left: 7.5em;
}

section.recipe label.category_label {
	margin-bottom: 1em;
	margin-left: 1em;
}

section.recipe label.description {
	margin-bottom: 1em;
	margin-left: 1em;
	vertical-align:top;
}
section.recipe textarea.description {
	width: 44em;
	height: 10em;
	margin-bottom: 0em;
	margin-left: 1.5em;
	resize: none
}

section.recipe label.instruction {
	margin-bottom: 1em;
	margin-left: 1em;
	vertical-align:top;

}
section.recipe textarea.instruction {
	width: 44em;
	height: 10em;
	margin-bottom: 1em;
	margin-left: 2em;
	resize: none
}

section.recipe label.email {
	margin-bottom: 1em;
	margin-left: 1em;

}
section.recipe input.email {
	width: 24em;
	margin-bottom: 1em;
	margin-left: 3.5em;
}


/*
* ingredients
*/
section.ingredients > fieldset {
	width: 50em;
	margin-top: 1em;
}

table{
	border-collapse: collapse;
	border: 0.1em solid black;

}
table.table_head{
	text-align: center;
	white-space: pre-wrap;
	width: 3em;
}

table.ingredient_table th{
	text-align: center;
	width: 5em;
	border: 0.1em solid black;
}

table.ingredient_table td {
	text-align: center;
	width: 5em;
	border: 0.1em solid black;
	border-collapse: collapse;
}

table.ingredient_table tbody {
	align-content: center;
}

section.ingredients label.bottom_margin{
	font-size: small;
	margin-left: 0.5em;
	margin-bottom: 2em;
}

section.ingredients > img.ingredient_avatar{
	width: 1em;
	height: 1em;
}

img.ingredient_avatar{
	width: 1em;
	height: 1em;
}

img {
	width: 3em;
  }


/*
* illustrations
*/
section.illustrations {
	margin-top: 1em;
	width: 50em;
	display: flex;

}